<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="Utils.ListenerClass"></listener>
		<listener
			class-name="com.assign.qa.base.reruntests.AnnoTranformer"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<groups>
			<run>
				<exclude name="com.assign.qa.base.testcases.MainPageTests" />
			</run>
		</groups>
		<classes>
			<class name="com.assign.qa.prec.ParellelTests"></class>
			<class name="com.assign.qa.prec.ChromeExecution"></class>
			<class name="com.assign.qa.prec.FFExecution">
				<methods>
					<exclude name="com.assign.qa.prec.FFExecution.testOne"></exclude>
					<exclude name="testFive"></exclude>
				</methods>
			</class>

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
